build/
dist/
.project
nbproject/
manifest.mf
magarena-fx/release
magarena-headless/release
.hgtags
magarena-swing/launch4j
magarena-swing/lib
magarena-swing/Magarena.app
magarena-swing/release
*/target/
*.7z
magarena-fx/data/mods/
magarena-fx/data/snapshot.dat
magarena-fx/data/
